<section class="section">
  <div class="container">
    <div class="columns">
      <% if user_signed_in? %>
        <%= render 'profile' %>
      <% else %>
        <p>Log in to see your profile</p>
      <% end %>
    </div>
    <div>
        <h2>Latest Stories</h2>
        <ul>
          <% @stories.each do |story| %>
           <li>
             <%= link_to story.title, story %>
           </li>
           <% if user_signed_in? %>
             <li>
               <%= story.user.name %>
             </li>
             <li>
               <%= story.user.username %>
             </li>
           <% else %>
             <p>Log in to see who wrote this story</p>
           <% end %>
           
          <% end %>
        </ul>
        <br />
        <%= link_to "Write your own story", new_story_path %>
    </div>
  </div>
</section>