<div class="section">
  <div class="container">
    <div class="columns is-centered is-variable is-6-desktop">
    <% if user_signed_in? %>
        <div class="column is-one-quarter">
          <p class="panel-heading has-text-centered has-background-dark has-text-white">Author</p>
          <div class="panel-block has-background-warning">
          <div class="media-left">
          <figure class=" image is 64-64">
            <%= gravatar_image_tag(@story.user.email, size: 64, alt: @story.user.name) %>
          </figure>
        </div>
          <p class="panel-heading has-text-left has-background-warning is-6">
            <%= @story.user.name %><br />
            <i><small><%= @story.user.username %></small></i>
          </p>
          </div>
        </div>
      <% else %>
        <div class="column is-one-quarter ">
          <p class="panel-heading has-text-centered has-background-dark has-text-white">Author</p>
          <div class="panel-block has-background-warning">
          <p class="panel-heading has-text-left has-background-warning title is-6">Log in to see author</p>
          </div>
        </div>
      <% end %>
      <div class="column is-three-quarters has-background-white-ter">
        <h1 class="title has-text-centered">
          <%= @story.title %>
        </h1>
        <p>
          <%= simple_format @story.body.gsub("\n", " ") %>
        </p> 
      </div>
   </div>
   </div>
  </div>